h1{
    color: rgb(144, 77, 90);
    text-decoration: overline;
}

h2{
    color:crimson;
    text-decoration: overline;
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
p{
    font-family: 'Courier New', Courier, monospace;
}
#banner{
    background-color: darkkhaki;
}
#nav{
    background-color: rgb(98, 109, 109);
    color:aliceblue;
    padding: 10px;
    text-align: center;

}

#nav a{
    color:aliceblue;
    text-decoration: none;
    font-size: large;
    margin-right: 10px;
}
#banner {
    background-color: darkkhaki;
}

#nav {
    background-color: cadetblue;
    color:aliceblue;
    padding:10px;
    text-align: center;
}